@model MultiSelects.Models.VisitedLocationsDisplayViewModel
@{
    ViewBag.Title = "Native";
}

<div>
    <span>Hey world</span>
</div>

@using (Html.BeginForm())
{
    Html.LabelFor(model => model.Message);
    <div id="list-display">
            @foreach (var location in Model.AllLocations)
            {
                var id = "location-select-" + location.Id;
                var checkedText = Model.SelectedLocationIds.Contains(location.Id) ? "checked=\"checked\"" : string.Empty;
                <div id="list item"> 
                    <input id="@id" value="@location.Id" type="checkbox" name="SelectedLocationIds" @checkedText>
                    <span>@location.Name</span>
                </div>
            }
    </div>

    <input type="submit" class="btn btn-primary"/>
}